/*Pertama, Lakukan CSS Reset dulu*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*CSS ROFI STARTS HERE*/

body {
	font: 16px/28px arial, sans-serif;
	background-image: url(img/sativa.png);
	color: #333;
}

.top-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	background-color: lightskyblue;
	border-bottom: 3px solid salmon;
	z-index: 9999;
}

.container {
	width: 960px;
	margin: 80px auto;
	background-color: white;
	position: relative;
}

.linkedin {
	width: 200px;
	height: 200px;
	background-image: url(img/twitter-ribbon.png);
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	top: -23px;
	right: -27px;
}

.header {
	padding: 20px;
	padding-bottom: 10px;
}

.header .judul {
	font-size: 40px;
	font-weight: bold;
}

.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}

.header a {
	text-decoration: none;
	color: salmon;
	padding: 3px;
}

.header a:hover {
	background-color: lightskyblue;
	color: white;
}

.hero {
	height: 320px;
	background-image: url(img/hero.png);
	background-size: cover;
	background-position: 0px -140px;
	border-bottom: 5px solid lightskyblue;
	border-top: 5px solid salmon;
}

.main {
	padding: 20px;
	width: 600px;
	box-sizing: border-box;
	float: left;
}

.main h2 {
	font-size: 28px;
	font-weight: bold;
}

.main .penulis {
	font-size: 11px;
	margin-top: -5px;
}

.main .penulis a {
	color: salmon;
	text-decoration: none;
}

.main .penulis a:hover {
	background-color: lightskyblue;
	color: white;
}
.main p {
	margin-bottom: 20px;
	font-size: 14px;
}

.sidebar {
	width: 300px;
	float: right;
	padding: 20px;
}

.sidebar h3 {
	font-weight: bold;
	color: #666;
}

.sidebar img {
	width: 70px;
	height: 70px;
	float: left;
	padding-right: 10px;
}

.sidebar p {
	font: 12px/18px arial;
	text-align: justify;
}

.footer {
	background-color: #333;
	width: auto;
	margin: auto;
	padding: 10px;
}

.footer p {
	color: #eaeaea;
	text-align: center;
	font-size: 12px;
}

/*CLEARFIX : supaya container ga collapse ketika difloat*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

@media only screen and (max-width: 992px) {
	.top-bar {
		display: none;
	}

	.linkedin {
		display: none;
	}

	.container {
		margin-top: 0;
	}
}

@media only screen and (max-width: 768px) {
	.container {
		margin: 0;
		width: 960px;
		background-color: white;
		position: relative;
	}
	.main {
		padding: 20px;
		width: 100%;
		box-sizing: border-box;
		float: none;
	}

	.sidebar {
		width: 100%;
		float: none;
		padding: 20px;
	}	
}











